<h2><%= @restaurant.name %></h2>

<ul>
  <li>Address: <%= @restaurant.address %></li>
  <li>Category: <%= @restaurant.category %></li>
  <li>Phone Number: <%= @restaurant.phone_number %></li>
</ul>

<%= link_to "Back to restaurants", restaurants_path %>
