<h2><%= @restaurant.name %></h2>

<ul>
  <li>Address: <%= @restaurant.address %></li>
  <li>Category: <%= @restaurant.category %></li>
  <li>Phone Number: <%= @restaurant.phone_number %></li>
</ul>

<h4>Reviews</h4>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      Rating: [<%= review.rating %>] - <%= review.content %>
    </li>
  <% end %>
</ul>

<%= simple_form_for([@restaurant, @review]) do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "Submit review", class: "btn btn-secondary my-3" %>
<% end %>

<hr>
<%= link_to "Back to restaurants", restaurants_path, class: "btn btn-secondary" %>
<%#= link_to "Add new review", new_restaurant_review_path(@restaurant), class: "btn btn-secondary" %>
